In [28]:
import pandas as pd
import sys
import pyarrow
import os

In [29]:
!{sys.executable} -m pip install pyarrow
parquet_file = 'green_tripdata_2019-01.parquet'
df = pd.read_parquet(parquet_file)
csv_output = 'green_tripdata_2019-01.csv'
df.to_csv(csv_output, index=False)

Requirement already satisfied: pyarrow in /home/julian/anaconda3/lib/python3.9/site-packages (12.0.0)
Requirement already satisfied: numpy>=1.16.6 in /home/julian/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)

In [26]:
# parquet_file = 'green_tripdata_2019-01.parquet'
# csv_output = 'green_tripdata_2019-01.csv'
# # Renaming the file
# os.rename(parquet_file, csv_output)

In [30]:
df = pd.read_csv('green_tripdata_2019-01.csv',nrows=100)

In [31]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [32]:
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [33]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN

In [34]:
from sqlalchemy import create_engine

In [36]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [37]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-01-01 00:15:42,2019-01-01 00:41:04,N,1.0,97,179,1.0,7.83,26.0,0.5,0.5,5.46,0.0,NaN,0.3,32.76,1.0,1.0,NaN
96,2,2019-01-01 00:21:28,2019-01-01 00:48:15,N,1.0,7,230,1.0,4.49,20.0,0.5,0.5,4.00,0.0,NaN,0.3,25.30,1.0,1.0,NaN
97,2,2019-01-01 00:17:10,2019-01-01 00:23:34,N,1.0,42,42,1.0,1.08,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2.0,1.0,NaN
98,2,2019-01-01 00:25:01,2019-01-01 00:43:55,N,1.0,42,232,2.0,8.74,25.0,0.5,0.5,0.00,0.0,NaN,0.3,26.30,2.0,1.0,NaN
99,2,2019-01-01 00:36:56,2019-01-01 00:43:50,N,1.0,223,7,5.0,1.32,7.0,0.5,0.5,2.00,0.0,NaN,0.3,10.30,1.0,1.0,NaN